# Web
web/node_modules/
web/dist/
web/*.tsbuildinfo
web/vite.config.d.ts
web/vite.config.js

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/android/
mobile/ios/

# Common
.DS_Store
*.env
*.env.local
