# Web
web/node_modules/
web/.next/
web/out/
web/next-env.d.ts
web/*.tsbuildinfo

# Mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/android/
mobile/ios/

# Common
.DS_Store
*.env
*.env.local
